*{
    box-sizing: border-box;
}
/* Hidden Text Container Goes Here */
.InnerMessage{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 0;
    left: 0;
}
.InnerMessage p{
    text-align: center;
    font-size: 5vh;
    margin:0;
}
.DisplayInnerMessage{
    transition: 2s linear;
    display: none;
}

/* Navigation Bar */
/* Right Side Navigation Bar */
.RightSide_Nav{
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.NoticationBar{
    height: 4vh;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Account_Nav{
    padding: 0vh 1.3vh;
    width: 4.7vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NoticationBar:hover, .Account_Nav:hover{
    transition: 0.3s linear;
    background-color: gray;
    border-radius: 1vh;
    cursor: pointer;
    color:black;
}
/* Near By Goes Here */
.NearBy_Nav{
    font-size: 2.3vh;
    width: 21vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    border-radius: 1vh;
    transition: 0.3s linear;
    
}
/* Search Box Goes Here */
#SearchboxInput{
    border-radius: 0.5vh;
    width: 20vw;
    height: 4.5vh;
    border: none;
    outline: none;
    font-size: 2vh;
    transition: 0.2s linear;
    font-weight: bold;
    
    
    background: url("/src/Health_Seva/Images_Assests/SearchLogo.png") no-repeat left;
    background-size: 2.2vw;
    padding-right: 1vw;
    padding-left: 2.5vw;
    background-color: white;
}
#SearchboxInput:is(:hover, :focus){
    transform: scale(1.1);
    
}
.NearBy_Nav:hover{
    cursor: pointer;
    background-color: rgb(88, 86, 86);
}
.NearBy_Nav:hover > i{
    color: black;
}


