.NotFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.NotFoundContainer h2:nth-child(1){
    text-decoration: underline;
    text-underline-offset: 1vh;
    display: inline-block;
}

.NotFoundContainer p>a {
    text-decoration: underline;
    text-underline-offset: 1vh;
    display: inline-block;
}