/* This One For Message Box Goes Here */
.Message_Container{
    position: absolute;
    top: 2.5vh;
    left: 1.5vw;
    border-radius: 1vh;
    z-index: 100;
    box-shadow: 1px 1px 5px black;
    font-size: 2.5vh;
    padding: 2vh;
}