.LoginContainer {
    text-align: center;
    box-shadow: 2px 2px 10px black;
    padding: 0 8vh 8vh 8vh;
    margin-top: 2vh;
    height: 75vh;
}
.RegisterBtn, .LoginBtn{
    color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}