/* .LoginContainer {
    text-align: center;
    box-shadow: 2px 2px 10px black;
    padding: 2vh 8vh 8vh 8vh;
    margin-top: 2vh;
    height: 80vh;
    border-radius: 1vh;
    max-width: 33vw;
}
.logintextcontainer{
  letter-spacing: 0.1vh;
  text-decoration: underline;
  text-underline-offset: 2vh;
  font-size: 2.5vh;
}


.RegisterBtn, .LoginBtn{
    color: rgb(238, 107, 107);
    font-weight: bolder;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.UserInputSectionLoginPage{
  width: 23vw;
  height: 5vh;
  padding: 1vh;
  border-radius: 0.5vh;
  font-weight: bolder;
  border: none;
  outline: none;
  font-size: 2vh;
}
.Submitbtn{
  margin: 2vh 6vw;
  border: none;
  border-radius: 0.5vh;
  font-size: 2vh;
  width: 10vw;
  font-weight: bolder;
}
.RegisterLoginPage{
  font-size: 2vh;
  text-decoration: underline;
  text-underline-offset: 1vh;
}
.BharatSevaLoginUser::after{
  left: 2.2vw;
} */

/* Login text container Goes Here */
/* .loginaboutwidht{
  max-width: 27vw;
}
.loginabouttextcontainer{
  position: absolute;
  top: 2vh;
  font-size: 2vh;
  right: 1vw;
  background-color: rgb(54, 53, 53);
  border-radius: 0.4vh;
  padding: 1vh;
}
.loginabouttextcontainer p:nth-child(1){
  text-decoration: underline;
  text-align: center;
  text-underline-offset: 1vh;
}
.triallogin{
  background-color: rgb(34, 34, 34);
  padding: 1vh 0 1vh 1vh;
  margin: 1vh 0 0 0;
}
.Mustberegisteredforlogin{
  font-size: 2vh;
} */

/* Message Css goes here */
/* .Message_Container{
  max-width: 28vw;
} */


/* Google OAuth Button */
/* .GoogleOAuthButton{
  background-color: rgb(49, 49, 49);
  box-shadow: 4px 4px 6px 1px black;
  margin: 2vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GoogleOAuthButton p{
  font-size: 2vh;
} */

/* Main container for the entire login page */
.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
}

/* Wrapper for the form and illustration */
.LoginWrapper {
  display: flex;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  width: 80vw;
  max-width: 1100px;
}

/* Section for doctor illustration */
.IllustrationSection {
  background-color: #d7f2e4;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.DoctorImage {
  background-image: url('../Images_Assests/loginImg.webp'); /* Replace with your image */
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Form section on the right */
.FormSection {
  flex: 1;
  padding: 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BrandName {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.Tagline {
  font-size: 1rem;
  color: #777;
  text-align: center;
  margin-bottom: 2rem;
}

.LoginForm label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #444;
}

.InputField {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.SubmitBtn {
  background-color: #0b7dda;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

.SubmitBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styling for Google sign-in button */
.GoogleOAuthButton {
  text-align: center;
  margin: 1rem 0;
}

.AccountPrompt {
  text-align: center;
  margin-top: 1rem;
}

.RegisterBtn {
  color: #0b7dda;
  font-weight: bold;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .LoginWrapper {
      flex-direction: column;
      max-width: 100%;
  }

  .FormSection {
      padding: 1.5rem;
  }
}
