.BharatSeva_Registration {
    font-size: 3vh;
    text-align: center;
}

.BharatSeva_Registration::after {
    content: '';
    position: relative;
    display: block;
    width: 18vw;
    top: 0.5vh;
    left: 6.2vw;
    height: 0.3vh;
    border-radius: 1vh;
    background-color: rgb(252, 154, 97);
}
.Registerhealthuser{
    text-decoration: underline;
    text-underline-offset: 1vh;
}
.RegisterContainer {
    /* padding: 1vh; */
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.815); */
    height: 100vh;
}

.Register {
    text-align: center;
    box-shadow: 2px 2px 10px black;
    padding: 2vh 8vh 8vh 8vh;
    margin-top: 2vh;
    height: 95vh;
}

.Register h2 {
    text-align: center;
    font-size: 3vh;
    letter-spacing: 0.1vh;
}

.EnterDetails {
    /* border: 1px solid black; */
    /* padding: 3vh 0 0 0; */
    text-align: left;
    border-radius: 1vh;
}

.EnterDetails label {
    display: inline-block;
    margin: 3vh 0 0 0;
    padding: 0;
}

label {
    font-size: 2.2vh;
    padding-bottom: 3vh;
}

/* Change Your Setting Here */
.inputs {
    font-size: 2vh;
    padding: 1.5vh;
    margin-bottom: 3vh;
    min-width: 30vw;
    height: 5.5vh;
    border-radius: 0.5vh;
    font-weight: bold;
    border: 0px solid black;
}

.inputs:focus {
    box-shadow: 0 0 4px 1px rgb(252, 154, 97);
    outline: none;
}

.Submitbtncontainer {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.Submitbtn {
    font-size: 2;
    padding: 1vh;
    background-color: white;
    cursor: pointer;
    /* height: 10vh; */
}

.Submitbtn:hover {
    background-color: rgb(196, 196, 196);
}


.Login .LoginHere {
    color: rgb(255, 94, 0);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.3vh;
}

.Login p {
    margin: 0vh;
}


/* Password do not match goes here */
.pass {
    margin-bottom: 3vh;
}

#cnfrmpass {
    margin-bottom: 2vh;
}

.wrongpass {
    box-shadow: 0px 0px 5px red;
}

.Rightpassword {
    box-shadow: 0px 0px 5px greenyellow;
}

.PasswordDonotmatch {
    font-size: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: rgb(255, 107, 107);
    /* font-weight: bolder; */
    text-align: center;
    display: none;
}

.Displaypasstxt {
    display: block;
}

/* User Input Section Goes Here */

.UserRegisterInput {
    width: 30vw;
    height: 5vh;
    padding: 1vh;
    outline: none;
    border: none;
    border-radius: 0.5vh;
    font-size: 2vh;
    font-weight: bolder;
}
/* Textcontainer Goes here */
.Registertextcontaine{
    max-width: 25vw;
}